<a href="{{ item.link }}" class="file-item {% if item.is_complete %}is-complete{% endif %}" data-item-type="{{ item.type }}">
    <div class="icon-box folder-box">
        <i class="fas fa-folder folder-chat folder-icon"></i>
        {% if item.photo_id %}
            <img
                class="profile-img folder-overlay lazy-chat-photo"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                data-src="/api/photo/{{ item.photo_id }}?tipo=grupo"
                loading="lazy">
        {% endif %}
    </div>
    
    <div class="file-name" title="{{ item.name|replace('"', '&quot;') }}">{{ item.name }}</div>
    <div class="file-info">{{ item.count }}</div>
    {% if item.telegram_link %}
        <span class="btn-open-telegram" data-telegram-link="{{ item.telegram_link }}" title="Abrir en Telegram">
            <i class="fa-brands fa-telegram"></i>
        </span>
    {% endif %}

    <button type="button"
           style="display:none"
            class="btn-sync open-channel-modal"
            onclick="return window.openChannelModalFromButton && window.openChannelModalFromButton(this);"
            data-chat-id="{{ item.chat_id }}"
            data-chat-name="{{ item.name|replace('"', '&quot;') }}"
            data-indexed="{{ item.indexed_videos|default('0') }}"
            data-total="{{ item.total_videos|default('0') }}"
            data-scanned-at="{{ item.scanned_at|default('') }}"
            data-chat-type="{{ item.chat_type|default('') }}"
            data-last-message="{{ item.last_message_date|default('') }}"
            data-telegram-link="{{ item.telegram_link|default('') }}">
        Info / Indexar
    </button>
</a>